.navbar {
    width:100%;
    background:#000;
    color:#fff;
    padding:18px 0;
    position:sticky;
    top:0;
    z-index:1000;
}

.container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:60px;
    mix-blend-mode: multiply;
}

.logo h2{
    color:#F4C300;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    color:white;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#F4C300;
}

.login-btn{
    background:#D62828;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    background:#FFD100;
    color:#111;
}


